{% extends "EncyclopediaAdminBundle::main.html.twig" %}

{% block body %}
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="{{ path('encyclopedia_admin_homepage') }}">Home</a></li>
            <li>Parameters</li>
            <li class="active">Languages</li>
        </ol>
    </div>
    <div class="row">
        <h2>Languages</h2>
        <div class="left col-md-6">
            <h3>Public languages</h3>
            <h3>Translation languages for encyclopedia entries</h3>
        </div>
        <div class="right col-md-6">

        </div>
    </div>    
{% endblock %}