{% extends "EncyclopediaAdminBundle::main.html.twig" %}

{% block body %}
<div class="row">
    <ol class="breadcrumb">
        <li><a href="{{ path('encyclopedia_admin_homepage') }}">Home</a></li>
        <li>Lexicon</li>
        <li class="active">Terms</li>
    </ol>
</div>
<div class="row">
    <h2>Terms</h2>
    <div class="col-lg-12 block"><a href="{{ path('_admin_lexicon_term_new') }}"><i class="fa fa-plus-circle"></i> Add a new term of the mythos</a></div>
</div>    
{% endblock %}
