{% extends "EncyclopediaAdminBundle::layout.html.twig" %}

{% block body -%}
    <h1>Publishing creation</h1>
<div class="container_12 edit">
    <div class="grid_6 block">
        <fieldset><legend>Edit</legend>    
            {{ form(form) }}
        </fieldset>
    </div>
</div>
        <ul class="record_actions">
    <li>
        <a href="{{ path('_publishing') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
