{% extends "EncyclopediaFrontBundle::layout.html.twig" %}

{% block body -%}
    <h2>About the project.</h2>
    <div class="boxText">
        Pourquoi une encyclopédie sur le mythe de Cthulhu en ligne ? <br>
        Parce qu'il y a quelques temps, je parlais avec un ami d'une nouvelle de Lovecraft dans laquelle une famille d'immigrant
        de Hollande s'était installé. Je ne me souvenais plus du titre, juste qu'il s'agissait de la famille "Martens" et que la nouvelle en
        elle même traitait de dégénérescence humaine sur plusieurs génération.
    </div>
{% endblock %}
