body{
    font-family: arial, verdana, sans-serif; 
    font-size:0.9em;
    color:#6a6a6a;
}
a:link, a:hover, a:visited{
    color:#9ab11a;
    text-decoration:none;
}
h1{
    font-size:2em;
}
h2{
    font-size:1.8em;
    font-weight: lighter;
}
h3{
    font-size:1.6;
    font-weight: lighter;
}
h4{
    font-size:1.4;
    font-weight: lighter;
}
.menu{
    background-color:#9ab11a;
    color:#FFFFFF;
}
.menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display:inline;
}
.menu ul li{
    margin-left: 0;
    padding:1% 2% 1% 2%;
    display:inline-block;
}
.menu ul li a:link, .menu ul li a:hover, .menu ul li a:visited{
    color:#FFFFFF;
    text-decoration: none;
}
.menu ul li.pipe{
    padding:1%;
}

.corpus{
    margin-top: 1%;
    z-index: 1;
    position:relative;
}

.block{
    z-index: 1;
}
/** Edit form specs **/
.edit div{
    width:100%;
}
.edit fieldset{
    border:1px solid #e9e9e9;
    padding:1%;
}
.edit fieldset legend{
    font-size:1.2em;
    padding: 0 1% 0 1%;
    color:#bdbdbd;
}
.edit fieldset div{
    width:99%;
    float:left;
    padding:0.5%;
}

.edit fieldset .mce-tinymce div{
    width:auto;
    float:none;
    padding:0;
}
.edit label{
    width:30%;
    display:block;
    float:left;
    border-bottom:1px dotted #6a6a6a;
    margin-right:1%;
    color:#9ab11a;
}

.edit div div > span label{
    border:none;
    display:inline;
    float:none;
    margin-right:0;
    width:auto;
    color:#000;
}

.edit input[type="text"],input[type="password"], select, textarea{
    border:1px solid #9ab11a;
    font-size:0.9em;
    color:#6a6a6a;
    width:40%;
}
.edit textarea{
    height:200px;
    width:98%;
    font-family: arial, verdana, sans-serif;
    margin:0.5% 0 0.5%;
}
.edit textarea.tinymce{
    width:auto;
    margin:0;
    height:auto;
}
.edit button[type="submit"]{
    background-color:#9ab11a;
    border:1px solid #9ab11a;
    color:#FFFFFF;
    float:right;
}

/** spec form input **/
.formAdding input[type="submit"]{
    width:auto;
    background-color:#9ab11a;
    border:1px solid #9ab11a;
    color:#FFFFFF;
}

/** Table display **/
table{
    width:100%;
}
table tr th{
    background-color:#9ab11a;
    color:#FFFFFF;
}
table tr td{
    text-align: left;
}
table tr td.tableText{
    width:auto;
    max-width: 150px;
}
table tr td.tableText p{
    line-height: 1.1em;
    margin: 0;
}

/** Div wich appear with summary of item like oeuvres, auteurs, catalogues **/
/** When a choice has been choose in drop down list. **/
.edit .divSummaryContent, .divSummaryContent{
    border-left:1px dotted #9ab11a;
    z-index:4;
    position:absolute;
    right:0.2%;
    width:45%;
    background-color:#f9f9f9;
    display:none;
    height:350px;
}
.edit .divOpenSummaryContent, .divOpenSummaryContent{
    background-color: #FFFFFF;
    z-index: 4;
    position: absolute;
    right:0.2%;
    display: none;
    width:auto;
}
/** overwriting css jquery for autocomplete **/
.ui-corner-all{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.cloudItem{
    padding:0.3%;
    background-color: #DEE3DB;
    border:1px solid #9ab11a;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;

}

/** Specifics colours **/
.error{
    color:#BB0000;
}
.orange{
    color:#E34A0B;
}
.ui-menu {
	padding: 0;
	margin: 0;
        font-size: 0.9em;
}