body{
    font-family: arial, verdana, sans-serif; 
    font-size:0.9em;
}
.menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display:inline;
}
.menu ul li{
    margin-left: 0;
    padding:1% 2% 1% 2%;
    display:inline-block;
}
.menu ul li.pipe{
    padding:1%;
}

/** overwriting css jquery for autocomplete **/
.ui-corner-all{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.ui-menu {
	padding: 0;
	margin: 0;
        font-size: 0.9em;
}