/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
html{
    padding:0;
    margin:0;
}
body{
    font-family:verdana, arial, sans-serif;
    color:#777776; //old #444444;
    padding:0;
    margin:0;
}
h1, h2, h3, h4{
    font-family: 'Vollkorn', serif;
    color:#595958;
}
h1{
    font-size:2.2em;
    font-weight: lighter;
}
h2{
    font-size:1.8em;
    font-weight: lighter;
    padding-left:0.5%;
    border-left:4px solid #9cb418;
}
h3{
    //color:#5a5a5a;
    font-size:1.6em;
    font-weight: lighter;
    border-bottom:1px solid #d8d9d7;
}
h4{
    font-size:1.4em;
    font-weight: lighter;
}
/****************************************************/
/* Class special to change color, text orientation */
/**************************************************/
.green{
    color:#9cb418;
}
.right{
    text-align: right;
}
.floatleft{
    text-align:left;
}
.oblique{
    font-style:oblique;
}
.mini{
    font-size:0.8em;
}
.indent{
    text-indent: 20%;
}
/*************************************************/

.header{
    background-color:#6b6b6a;
    max-width:100%;
    overflow:hidden;
    color:#d8d9d7;
}
.header h1{ 
    color:#fff;
}
.header .title{
    z-index:3;
    position:absolute;
    background-color:#9cb418;
    left:1%;
    padding:0.5%;
    width:18%;
}
.header .boxLinks{
    float:right;
    font-size:1.1em;
}
.header .boxLinks .flags ul{
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 0;
    display:inline;
    float:right;
}
.header .boxLinks .flags ul li{
    margin-left: 0;
    display:inline-block;
}
.header .boxLinks .internalLinks ul{
    list-style-type: none;
    padding: 0;
    margin: 2.5% 0;
}
.header .boxLinks .internalLinks ul li{
    margin-left: 0;
}
.header .randomIndex{
    text-align: right;
    width:52%;
    height:25%;
    padding: 1% 0.2% 1% 0.2%;
    float:right;
    overflow:hidden;
}
/*.header .randomIndex .fhtagn span{
    
}*/
.header .randomIndex .lettrine:before{
    color:#9cb418;
}
.header .randomIndex h2, .header .randomIndex h3{
    border:none;
    font-size:2em;
    display:inline;
    color:inherit;
}
.header .randomIndex span{
    clear: left;
    width:98%;
    display:block;
    font-style:oblique;
    padding-left:3%;
}
.menu{
    z-index:1;
    position:relative;
    background-color:#4c4d4c;
    color:#FFFFFF;
    font-size:1em;
    margin-top:2%;
}
.menu ul{
    list-style-type: none;
    padding: 0;
    margin: 0 0 0 20%;
    display:inline;
}
.menu ul li{
    margin-left: 0;
    padding:1% 2% 1% 2%;
    display:inline-block;
}
.menu ul li a:link, .menu ul li a:hover, .menu ul li a:visited{
    color:#FFFFFF;
    text-decoration: none;
}
.menu ul li.pipe{
    padding:1%;
}

.corpus{
    margin-top: 1%;
    margin-bottom: 1%;
    z-index: 1;
    position:relative;
    background-color:#fff;
}
.corpus .box .blockList{
    margin-bottom:5%;
}
.corpus .box .listLetter{
    width:100%;
    text-align:center;
    margin-bottom:3%;
    overflow: hidden;
}
.corpus .box .listLetter span{
    color:#fff;  
}
.corpus .box .listLetter span a.selectedGrey:link, .corpus .box .listLetter span a.selectedGrey:visited{
    background-color:#777776;
    padding:0.5% 1% 0.5% 1%;
    display: inline-block;
}
.corpus .box .listLetter span a, .corpus .box .listLetter span a:link, .corpus .box .listLetter span a:visited{
    background-color:#d8d9d7;
    color:inherit;
    padding:0.5% 1% 0.5% 1%;
    margin:0 0 0.5% 0;
    text-decoration: none;
    display: inline-block;
}
.corpus .box .listLetter span a:hover{
    background-color:#777776;
    color:inherit;
}
.corpus .box .blockList input[type="text"]{
    border:1px solid #d8d9d7;
    width:100%;
    color:#777776;
}
.corpus .box .blockList ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.corpus .box .blockList ul li{
    margin-left: 0;
}
.corpus .box .resultItem{
    width:100%;
    display: table;
    table-layout: fixed;
}
.corpus .box .item{
    font-size:1.1em;
    padding:0 0.5% 0 0.5%;
    margin:0;
    width:32.33%;
    max-width:32.33%;
    display:table-cell;
    vertical-align: middle;
}
.corpus .box .item:hover{
    background-color:#d8d9d7;
}
.corpus .box .item span{
    display: block;
    width: 100%;
}
.boxText{
    padding:0.5%;
    border-left:4px dotted #9cb418;
}

/*
* Media Screen
*/
@media screen and (max-width:750px) {
    .header .title{
        background-color:#9cb418;
        float:left;
        padding:0;
        margin:0;
        position:relative;
        left:0;
        width:100%;
        text-align:center;
    }
    .header .boxLinks{
        width:100%;
        float:left;
        text-align:right;
    }
    .header .boxLinks ul{
        display:inline;
    }
    .header .boxLinks ul li{
        display:inline-block;
    }
    .header .randomIndex{
        width:100%;
        float:left;
        text-align:center;
    }
    .header .menu{
        width:100%;
        float:left;
        text-align:left;
    }
    .header .menu ul{
        margin:0;
    }
    .corpus .box{
        width:100%;
    }
    .corpus .box .listLetter {
        line-height: 2.5em; 
    }
    .corpus .box .resultItem{
        width:98%;
        padding-bottom:5%;
    }
    .corpus .box .resultItem .item{
        font-size:1.1em;
        padding:0 0.5% 0 0.5%;
        margin:0;
        width:inherit;
        max-width:99%;
        display:block;
        border:1px solid black;
    }
}